[ req ]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no

[ req_distinguished_name ]
CN = app.lab.com

[ v3_req ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = app.lab.com
DNS.2 = proxy.lab.com
DNS.3 = auth.lab.com
